<h2>Edit Historical Landmark</h2>

<!-- add content here -->
<a class="button" href="/">Home</a>
<a class="button" href="/landmarks">All Landmarks</a>


<h1>Edit <%= @landmark.name %></h1>

<form action="/landmarks/<%= @landmark.id %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">

  <label for="name">Landmark Name</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>">

  <label for="figure_name">Figure Name</label>
  <input type="text" name="landmark[figure]" value="<%= @landmark.figure.name %>" id="figure_name">

  <label for="name">Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="name" value="<%= @landmark.year_completed %>">

  <input type="submit" value="Save">
</form>