<a class="button" href="/figures">All Figures</a>
<a class="button" href="/">Home</a>
<h1>Edit a historical figure</h1>

<form action="/figures/<%=@figure.id%>" method="POST">
		<input type="hidden" name="_method" value="patch">
        <label>Figure Name</label>
        <input type="text" id="figure_name" name="figure[name]" value="<%= @figure.name %>">
        <br>
        <h2>Edit title: </h2>
        <label>Title</label>
        <%Title.all.each do |title|%>
            <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>" <%="checked" if @figure.titles.include?(title)%>><%=title.name%></input>
        <%end%>
        <br>
        <label>Add New:</label>
        <input type="text" id="new_title" name="title[name]"><br></br>
        <h2>Edit landmark: </h2>
        <label>Landmark</label>
        <%Landmark.all.each do |landmark|%>
            <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>" <%="checked" if @figure.landmarks.include?(landmark)%>><%=landmark.name%></input>
        <%end%>
        <br>
        <label>Add New:</label>
        <input type="text" id="new_landmark" name="landmark[name]"><br></br>
        <input type="submit" value="Edit Figure" class="button">
</form>
