<a class="button" href="/figures">All Figures</a>
<a class="button" href="/">Home</a>
<h1>Create a new figure</h1>

<form action="/figures" method="POST">
        <h1>Create a Figure</h1>
        <br>
        <label>Figure Name</label>
        <input type="text" id="figure_name" name="figure[name]">
        <br>
        <h2>Choose from existing titles and landmarks: </h2>
        <label>Title</label>
        <% Title.all.each do |title| %>
            <input type="checkbox" id="title_<%=title.id%>" name="figure[title_ids][]" value="<%=title.id%>"><%=title.name%></input>
        <%end%>
        <br>
        <label>Landmark</label>
        <% Landmark.all.each do |landmark| %>
            <input type="checkbox" id="landmark_<%=landmark.id%>" name="figure[landmark_ids][]" value="<%=landmark.id%>"><%=landmark.name%></input>
        <%end%>
        <br>
        <h2>and/or, create a new title or landmark</h2>
        <label for="new_landmark">New Landmark</label>
        <input type="text" id="new_landmark" name="landmark[name]">
        <br>
        <label for="new_title">New Title</label>
        <input type="text" id="new_title" name="title[name]">
        <br>
        <br>
        <input type="submit" value="Create New Figure" class="button">
      </form>