<a class="button" href="/figures">All Figures</a>
<a class="button" href="/">Home</a>
<h1>Create a new figure</h1>

<form action="/figures" method="POST">
<label>Name:</label><input type="text" name="figure[name]" id="Name"><br>

<label>Titles:</label><br>
<% @titles.each do |title| %>
  <input id="<%= title.name %>" type="checkbox" name="figure[titles][]" value="<%= title.id %>"><%= title.name %><br>
<% end %>
<br>
<h2>Create New Title:</h2>
<label>Title:</label><input type="text" name="figure[title_name]" id="New Title Name"><br>
<br>
<label><h2>Landmarks:</h2></label><br>
<% @landmarks.each do |landmark| %>
  <input id="<%= landmark.name %>" type="checkbox" name="figure[landmarks][]" value="<%= landmark.id %>"><%= landmark.name %><br>
<% end %>
<br>
<h2>Create New Landmark:</h2>
<label>Name:</label><input type="text" name="figure[landmark_name]" id="Landmark Name"><br>
<label>Year:</label><input type="text" name="figure[landmark_year]" id="Landmark Year"><br>
<input type="submit" value="Create New Figure">
</form>
